body {
  display: flex;
  flex-direction: column;
  font-family: "Segoe UI Variable Static Text";
  align-items: center;
  justify-content: center;
  color: rgb(224, 224, 224);
  background-color: #2b3346;
}

img {
  width: 200px;
}

p {
  margin-top: 0;
  margin-bottom: 100px;
  max-width: 600px;
  text-align: justify;
}

a {
  color: #14dd83;
}

a:visited {
  color: #0d9055;
}
