{% macro tree_header() %}
<script src="/static/js/tree.js"></script>
<link rel="stylesheet" href="/static/css/tree.css" />
{% endmacro tree_header %}

{% macro tree(tree) %}
  <a class="tree_item server" href="/">
    <div class="highlight"></div>
    <div class="wrapper">
      <span class="server_icon">
        <img class="icon" src="/static/server.svg" height="30px" />
      </span>
      <p class="segoe_fix spread name">
        <span>{{tree.server_name}}</span>
      </p>
      <span class="server_actions">
        <svg viewBox="0 0 24 24" width="20" height="20" aria-hidden="true">
          <path fill="currentColor" d="M7 3.5A2.5 2.5 0 0 0 4.5 6v14.1c0 .74.83 1.18 1.44.76L12 17.1l6.06 3.76c.61.42 1.44-.02 1.44-.76V6A2.5 2.5 0 0 0 17 3.5H7Z"/>
        </svg>
        <svg viewBox="0 0 24 24" width="20" height="20" aria-hidden="true">
          <path fill="currentColor" d="M4 5.5A2.5 2.5 0 0 1 6.5 3h11A2.5 2.5 0 0 1 20 5.5v8A2.5 2.5 0 0 1 17.5 16H9.8l-3.9 3.36c-.64.55-1.63.1-1.63-.75V5.5Z"/>
        </svg>
      </span>
    </div>
  </a>
  {% for cid in tree.channel_order -%}
    {% set channel = tree.channel_map[cid] -%}
    {% if channel.spacer -%}
      {{ self::spacer(channel=channel) }}
    {% else -%}
      {{ self::channel(channel=channel) }}
    {% endif -%}
    {% if tree.clients[channel.id] -%}
      {% for client in tree.clients[channel.id] -%}
        {{ self::client(client=client, indent=channel.indent_level) }}
      {% endfor -%}
    {% endif -%}
  {% endfor -%}
{% endmacro tree %}

{% macro channel(channel) %}
<a class="tree_item channel{% if channel.is_augmented %} augmented{% endif %}"
  {# onclick="{% if channel.is_augmented %}un{% endif %}augment('{{ channel.name | addslashes }}')" #}
  style="margin-left: {{ channel.indent_level * 10 }}px"
  {% if channel.is_augmented -%}
  href="/augmentation/{{ channel.augmentation_id | base64_encode }}"
  {% else -%}
  href="/channel/{{ channel.id }}"
  {% endif -%}
>
  <div class="background"></div>
  <div class="highlight" {% if channel.is_augmented %}style="border: 1px solid {{ channel.highlight_color }}" {% endif %}>
  </div>
  <div class="wrapper">
    <img class="icon" src="/static/channel.svg" height="22px" />
    <p class="segoe_fix spread">
      <span>{{ channel.name }}</span>
    </p>
    {% if channel.talk_power > 0 %}
    <p class="segoe_fix moderated">
      <span>M</span>
    </p>
    {% endif %}
  </div>
</a>
{% endmacro channel %}

{% macro spacer(channel) %}
{% set s = channel.spacer -%}
<div class="tree_item spacer {{ s.align }}{% if s.line %} line line-{{ s.line }}{% endif %}">
  <div class="background"></div>
  <div class="wrapper">
    {% if s.line and not s.repeat -%}
      <span class="rule"></span>
    {% elif s.repeat -%}
      <span class="segoe_fix fill" data-unit="{{ s.text }}"><span>{{ s.text }}</span></span>
    {% else -%}
      <p class="segoe_fix spread">
        <span>{{ s.text }}</span>
      </p>
    {% endif -%}
  </div>
</div>
{% endmacro spacer %}

{% macro client(client, indent) %}
<a class="tree_item client"
style="margin-left: {{ (indent + 1) * 10 }}px"
href="/client/{{ client.id }}"
>
  <div class="highlight"></div>
  <div class="wrapper">
    {% if client.is_query %}
    <img class="icon" src="/static/query.svg" width="22px" />
    {% elif client.state == "afk" %}
    <img class="icon" src="/static/client_afk.svg" width="22px" title="AFK" />
    {% elif client.state == "sound_muted" %}
    <img class="icon" src="/static/client_sound_muted.svg" width="22px" title="Sound muted" />
    {% elif client.state == "mic_muted" %}
    <img class="icon" src="/static/client_mic_muted.svg" width="22px" title="Microphone muted" />
    {% elif client.state == "mic_disabled" %}
    <img class="icon" src="/static/client_mic_disabled.svg" width="22px" title="Microphone disabled" />
    {% elif client.can_talk %}
    <img class="icon" src="/static/client_talk.svg" width="22px" />
    {% else %}
    <img class="icon" src="/static/client_shush.svg" width="22px" />
    {% endif %}
    <p class="segoe_fix spread">
      <span>{{ client.name }}</span>
    </p>
    {% if client.badges or client.country %}
    <div class="icons">
      {% if client.badges %}
      {% for badge in client.badges %}
      <img src="/badges/{{ badge }}.svg" width="16px" />
      {% endfor %}
      {% endif %}
      {% if client.badges and client.country %}
      <div class="separator"></div>
      {% endif %}
      {% if client.country %}
      <span class="flag">
        {{ client.country}}
      </span>
      {% endif %}
    </div>
    {% endif %}
  </div>
</a>
{% endmacro client %}
